[user]
	name = Mike Bijl
	email = bijlmike3@gmail.com

[core]
	ignorecase = false
	editor = nvim
  pager = delta

[pull]
	rebase = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  ; light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[rerere]
	enabled = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
