[user]
	name = Mike Bijl
	email = bijlmike3@gmail.com

[core]
	ignorecase = false
	editor = nvim

[pull]
	rebase = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[merge]
  conflictstyle = diff3

[diff]
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

# for conflict resolution: "reuse recorded resolution"
[rerere]
	enabled = true
	autoupdate = true

[tag]
	sort = version:refname

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/repos/work/"]
    path = .gitconfig_work

# references:
# - https://blog.gitbutler.com/how-git-core-devs-configure-git/
